---
import FoodCard from "../../components/FoodCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const almuerzos = await getCollection("recetas", ({ data }) => {
  return data.type == "almuerzo";
});
export const prerender = true;
---

<Layout title="Cenas">
  <section class="flex flex-wrap justify-center gap-20">
    {
      almuerzos.map((almuerzo) => {
        const { image, title, description } = almuerzo.data;
        const { slug } = almuerzo;
        return (
          <FoodCard
            title={title}
            description={description}
            image={image}
            slug={slug}
          />
        );
      })
    }
  </section>
</Layout>
