---
import FoodCard from "../../components/FoodCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const almuerzos = await getCollection("recetas", ({ data }) => {
  return data.type == "almuerzo";
});
export const prerender = true;
---

<Layout title="Almuerzos">
  <h1 class="text-center mb-24 text-7xl font-bold">Almuerzos</h1>
  <section class="flex flex-wrap justify-center gap-20">
    {
      almuerzos.map((almuerzo) => {
        const { image, title, description } = almuerzo.data;
        const { slug } = almuerzo;
        return (
          <FoodCard
            title={title}
            description={description}
            image={image}
            slug={slug}
          />
        );
      })
    }
  </section>
</Layout>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
  h1 {
    font-family: 'Kodchasan', sans-serif;
  }
</style>