---
import DownloadIcon from "./Icons/DownloadIcon.astro";
import WatchIcon from "./Icons/WatchIcon.astro";
interface Props {
  title: string;
  description: string;
  image: string;
}
const { title, description, image } = Astro.props;
---

<article
  class="max-w-xs max-h-[42rem] bg-white flex flex-col items-start gap-y-2"
>
  <img src={image} alt={title} />
  <h3 class="font-semibold">{title}</h3>
  <div>
    <p class="prose-red">{description}</p>
  </div>
  <div class="w-full flex justify-between mt-2">
    <button class="bg-orange-500 flex items-center">
      <DownloadIcon class="size-6 mr-2" />
      Descargar
    </button>
    <button class="flex items-center">
      <WatchIcon class="size-6 mr-2" />
      Ver
    </button>
  </div>
</article>
<style>
  article {
    border-radius: 10px;
    box-shadow:
      20px 20px 50px #d9d9d9,
      -30px -30px 60px #ffffff;
    padding: 16px;
    transition: box-shadow 0.2s;
  }

  img {
    margin-bottom: 16px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 1rem;
    color: #4a5568;
  }
  button {
    @apply px-4 py-2 border border-amber-950 rounded min-w-32 text-white font-bold transition-transform duration-150 hover:scale-105;
  }
  button {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #41210a;
  }
</style>
