---
import YoutubeIcon from "./Icons/YoutubeIcon.astro";
import InstagramIcon from "./Icons/InstagramIcon.astro";
import FacebookIcon from "./Icons/FacebookIcon.astro";
---

<ul class="flex flex-col md:flex-row items-center gap-6 justify-evenly min-h-28 bg-white font-bold p-4 md:p-0">
  <li class="text-sm md:text-base lg:text-lg">Terminos y condiciones</li>
  <li class="text-sm md:text-base lg:text-lg">Copyright</li>
  <ul class="flex items-center gap-4 md:gap-8 mt-4 md:mt-0">
    <li><FacebookIcon class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10" /></li>
    <li><InstagramIcon class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10" /></li>
    <li><YoutubeIcon class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10" /></li>
  </ul>
</ul>

<style>
  ul {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000;
    & ul {
      & li {
        @apply transition-transform hover:scale-105 cursor-pointer;
      }
    }
  }
</style>
